/* @import "bootstrap.min.css"; */
.white-text{
    border: 1px solid #fff;
    color:  #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.table .thead-dark th{
    white-space: nowrap;
}
tbody td:nth-child(3){
    text-align: right;
}
.container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 98%;
}